target/

.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd

.idea/
*.iml
*.ipr
*.iws

.vscode/

.env

*.class
*.log
*.war

HELP.md

.classpath
.project
.settings/

.DS_Store


storage/

certs/

scripts/venv/**
scripts/logs/**
src/**/venv/**

.m2/**  
**/__pycache__/
*.pyc

e2e_tests/venv/**
e2e_tests/controller/__pycache__/**
e2e_tests/__pycache__/**
