target/

.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd

.idea/
*.iml
*.ipr
*.iws

.vscode/

.env

*.class
*.log
*.war

HELP.md

.classpath
.project
.settings/

.DS_Store


storage/